.start-screen {
    background-image: url('/assets/img/ring-of-fire.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: #fe8100;
        font-size: 5vw;
        filter: drop-shadow(18px 3vw 7px rgb(153, 47, 5));
    }
    img {
        height: 100vh;
        width: 100vw;
    }
}


.headline-container {
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10vw;
    margin-top: 15vw;
    img {
        width: 28px;
        height: 45px;
        border-radius: 10%;
        animation: wiggle infinite 2s;
    }
}


.start-label-container {
    display: flex;
    justify-content: center;
    height: 4vw;
}


.start-box {
    border: 2px solid #fe8100;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    border-radius: 50px;
    animation: burn infinite 4s;
    color: white;
    font-size: 4vw;
    cursor: pointer;
    background-color: black;
}


.start-box:hover {
    animation-play-state: paused;
    color: #ff5200;
    box-shadow: 0px 0px 41px 12px #fe8100 !important;
    border: 2px solid #ff5200;
}


@keyframes burn {
    0%   { 
        box-shadow: 0px 0px 41px -6px #fe8100;
    }
    50% {
        box-shadow: 0px 0px 41px 12px #ff5200;
    }
    100% {
        box-shadow: 0px 0px 41px -6px #fe8100;
    }
}
