.card-title {
    padding: 10px 16px 4px 16px;
    border-radius: 4px 4px 0 0;
    color: rgb(99, 1, 1);
}


.card-description {
    border-radius: 0 0 4px 4px;
}


.card-container {
    background-color: rgba(218, 216, 214, 0.86);
}


@media (max-width: 720px) {
    .card-description {
        font-size: 12px;
    }
}